@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;0,900;1,100;1,300&display=swap');
footer{
  width: 100%;
  /*position:absolute;*/
  bottom:0;
  background-color:#f6f6f6;
  color:#fff;
  padding:100px 0 30px;
  font-size: 13px;
  line-height :0px;
  color: #000;
  padding-top:30px;
  padding-bottom: 10px;
}
footer .row{
  width:85%;
  margin:auto;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-between;
}
footer .col{
  flex-basis:25% ;
  padding:10px ;
}
/*to set the initial size of the column two and three to 15%:devide the row to equal parts */
.col:nth-child(2),.col:nth-child(3){
  flex-basis: 15%;
}




footer.logo{
  width: 80px;
  margin-bottom: 30px;
}
footer .txte{
  margin-top: 20px;
}
footer .col h3{
  width: fit-content;
  margin-bottom: 40px;
  position:relative;
  text-decoration:underline;
  color:#40E0D0;

}
footer .email{
  width: fit-content;
  border-bottom: #ccc;
  text-decoration: underline;

  margin:20px 0;
}
footer ul li{
  list-style:none;
  margin-bottom: 12px;
} 
footer .link{
  line-height: 1.5;

}
footer ul li a{

text-decoration:none;

}
footer form{
  padding-bottom: 15px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;

}
footer form button{
  background: transparent;
  border: 0;
}
footer form input{
  width: 100%;
  background: transparent;
  color:#ccc;
  border:0;
  outline: none;
}
footer .contact .fab{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color:#000;
  background:#fff;
  margin-right: 15px;
  cursor: pointer;
}
footer .button{
  
}
 hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid;
  /*margin:to specify the place between an element's border and the adjacent elements' content*/
  margin:20px auto;
  color: #000;
}
.copyright{
  text-align: center;
  color: #000;

}