@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

/* Conmmon Classes */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway';
    font-weight: 600;

}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
a{
    font-family: "Raleway";
    font-weight: 600;
}

.img-responsive{
    max-width: 100%;
    display: block;
    height: auto;
}
i.fa.fa-arrow-up{
    position: fixed;
    bottom: 20px;
    right: 25px;
    background-color: #00a8c5;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
}
div#toggle-btn{
    display: none;
}
/* header */


header{
    width: 100%;
    height: 100vh;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 200px;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
}

/* video css */
.video{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;

}
video#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-info-par a{
    background-color: #fff;
    color: #00a8b4;
    padding: 17px 45px;
    display: inline-block;
    margin-top: 25px;
    position: relative;
    overflow: hidden;
}

.header-info-par a:after{
    content: "Read More";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #00a8b4;
    color: #fff;
    width: 0%;
    height: 100%;
    line-height: 50px;
    transition: all 0.5s ease;
}
.header-info-par a:hover:after{
    width: 100%;
}
.header-info-par h1{
    font-size: 45px;
    text-transform: uppercase;
    padding: 20px 0px;
    letter-spacing: 4px;
}
.header-info-par p{
    line-height: 30px;
    font-size: 15px;
    width: 80%;
    margin: auto;
}

/* about section*/
.about{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container1{
    width: 100%;
    min-height: 100vh;
     background-image: url(../images/travel1.jfif);
    background-color: #c9b1b1;
}
.container1 .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #222;
    letter-spacing: 1.5px;
    padding: 50px 0px;
}
.container1 .title h1::after{
    content: "";
    height: 6px;
    width: 180px;
    background-color: #222;
    border-radius: 6px;
    position: relative;
    display: block;
    margin: auto;
}
.content{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    margin: 30px auto;
}
.content .article{
    box-shadow:0px 0px 2px 0px rgba(0,0,0,0.2) ;
    background-color: #eee;
    padding: 25px 25px;
}
.content .article h2{
    color:#00a8b4;
    font-size:22px ;
    letter-spacing: 2px;
}
.content .article p{
    margin-top: 30px;
    font-size: 19px;
    line-height: 1.5;
    color: #222;
}
.content .article a{
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 35px;
    background-color: #a2a29d;
    border-radius: 25px;
    color: #fff;
    border: 1px solid #a2a29d;
    letter-spacing: 1.5px;
    margin-top: 100px;
    margin-left: 104px;

}
.content .article a:hover{
    background-color: #eee;
    color: #a2a29d;
    transition: 0.2s ease;

}
.image-section{
    width: 100%;
    margin: auto;
}
.image-section img{
    width: 100%;
    height: auto;

}

/*meet us section*/
.text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
}

.responsive-cell-block {
    min-height: 75px;
}

.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: space-evenly;
}

.outer-container {
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    background-color: rgb(244, 252, 255);
}

.inner-container {
    max-width: 2000px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
}

.section-head-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(0, 135, 177);
    margin: 0 0 10px 0;
}

.section-subhead-text {
    font-size: 25px;
    color: rgb(153, 153, 153);
    line-height: 35px;
    max-width: 470px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
}

.img-wrapper {
    width: 100%;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-links {
    width: 125px;
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 25px;
    font-weight: 700;
    color: rgb(102, 102, 102);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.position {
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 135, 177);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.team-img {
    width: 100%;
    height: 100%;
}

.team-card-container {
    width: 280px;
    margin: 0 0 40px 0;
}

@media (max-width: 500px) {
    .outer-container {
        padding: 10px 20px 10px 20px;
    }

    .section-head-text {
        text-align: center;
    }
}



/* Welcome-text section */
.welcome{
    background-color: rgb(195, 212, 218);
}
section#welcome-text h2{
    color: #343a40;
    font-size: 45px;
    padding-bottom: 12px;
}
section#welcome-text{
    text-align: center;
    padding:100px 0px;
}
section#welcome-text p{
    color: #777;
    text-align: center;
    font-size: 16px;
}
/* Slides Section */
.slides{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.slide_1{
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/recipe_slides/recipe1.jpg); */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    min-width: 60px;
    height: 300px;
    border-radius: 40px;
    margin: 0 15px;
    position: relative;
    transition: all 0.5s ease;
}
.slide_1:hover{
    min-width: 250px;
}
.slide_1:hover .slide-info{
    transform: rotate(0deg);
    font-size: 22px;
    left: 20px;
    bottom: 20px;
}

.slide-info{
    position: absolute;
    bottom: 50px;
    right: 0;
    color: #fff;
    transform: rotate(-90deg);
    font-size: 13px;
    font-weight: 700;
    transition: all 0.5s ease;
}

.slide_2{ 
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/italie.jpg);
}
.slide_3{ 
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/bali.jpg);
}
.slide_4{ 
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/greece.jpg);
}
.slide_5{ 
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/suisse.jpg);
}
.slide_6{ 
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/iceland.jpg);
}
.slide_7{ 
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/tunisie.jpg);
}
.slide_8{ 
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/japan.jpg);
}

.adddelete{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh; /* Adjust as needed */
  margin-top:-30px ;
  padding-bottom: 30px;
}
.adddelete .btnadd, .btndelete{
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 35px;
    background-color: #8fa7a5;
    border-radius: 25px;
    color: #fff;
    border: 1px solid #8fa7a5;
    justify-content: center;
    height: 8vh; 
    margin: 0 10px;
}
.adddelete{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh; /* Adjust as needed */
  margin-top:-30px ;
  padding-bottom: 30px;
}
.adddelete .btnadd, .btndelete{
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 35px;
    background-color: #8fa7a5;
    border-radius: 25px;
    color: #fff;
    border: 1px solid #8fa7a5;
    justify-content: center;
    height: 8vh; 
    margin: 0 10px;
}

/* media queries */
@media screen and (max-width: 768px) {
    div#toggle-btn{
        color: #fff;
        display: block;
        z-index: 1;

    }
    #toggle-btn i.nav-active:before{
        content: "\f00d";
    }

    .header-info-par h1{
        font-size: 20px;
    }
    header{
        padding: 0 40px;
    }
    .header-info-par p{
        font-size: 14px;
        line-height: 26px;
    }
   

    section#welcome-text h2{
        font-size: 26px;
    }
    section#welcome-text p{
        font-size: 14px;
        line-height: 25px;
    }
    section#welcome-text{
        padding: 40px 0px;
    }
    .slides{
        flex-direction: column;
    }
    .slide_1{
        width: 90%;
        min-width: 90%;
        height: 240px;
        margin: 20px 15px;
    }
    section#book{
        padding: 50px 0px;
    }
    .book-content-par{
        flex-direction: column;
    }
    .book-counter h3{
        font-size: 40px;
        text-align: center;
    }
    div#clockdiv{
        font-size: 18px;
    }
    div#clockdiv > div{
        margin-right: 14px;
    }
    .smalltext{
        font-size: 12px;
        padding-top: 5px;
    }
    .book-counter{
        margin: 0 auto;
    }
    .book-form{
        margin-top: 20px;
    }
    
}

@media screen and (max-width: 1433px){
    .content{
    grid-template-columns: repeat(1,1fr);
}
.article{
    text-align:center;
}
.image-section{
    width: 100%;
    margin: auto;
}
.image-section img{
    width: 100%;
    height: auto;
}}
/*book now*/
#book{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/iceland1.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
    color: #fff;
}
.book-content-par{
    display: flex;
}
.book-counter{
    flex: 1;
}
.book-form{
    flex: 1;
}
.book-counter h3{
    font-size: 100px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
div#clockdiv{
    color: #fff;
    font-size: 40px;
    text-align: center;
    display: inline-block;
}
div#clockdiv > div{
    display: inline-block;/*display pour mettre les 4 div du temps sur la meme ligne */
    background-color:#D9AB73;
    padding:10px;
    border-radius: 45%;
   
    box-shadow: 2px 2px 30px #fff ;
    margin-right: 20px;
}
.smalltext{
    font-size: 20px;
    padding-top: 5px;
}
div#clockdiv span{
    padding:15px;
    border-radius: 3px;
    display: inline-block;
}
input[type="text"]:focus, select:focus, textarea:focus{
    border:2px solid #00a8b4;
    outline: none;
}
input[type="text"], select, textarea{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #00a8c5;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}
input[type="submit"]:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
input[type="submit"]{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    width: 100%;
    border: 1px solid #fff;
    padding:12px 0px;
    transition: all 0.5s ease;
    cursor: pointer;
}





















