*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    
}
body{
    background: #000;
    min-height: 200vh;
    font-family: Arial, Helvetica, sans-serif,sans-serif;
}

header{
    height: 100vh;
    width: 100vw;
    background-image: url(Acropolis\ at\ sunset.jpg);
    background-size: cover;
}
.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center; /*alignement de logo avec home*/
}
.navbar a{
    color: #fff;
}
.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul{
    color: #fff;
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}
.navbar .nav-links ul li.active a {
    color: red;
}
.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 50px;
    right: 30px;
    width: 35px;
}

@media screen and (max-width: 900px){
    /*.nav-links{
        display: none;
    }*/
    .navbar{
        padding: 0;
    }
    .navbar .logo{
        position: absolute;
        top: 40px;
        left: 30px;
    }
    .navbar .menu-hamburger{
        display: block;

    }
    .navbar .mobile-menu{
        margin-left: 0;
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgb(255,255,255,0.20);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(8px);
        margin-left: -100%;
        transition: all 0.5s ease;

    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
    
}